passlib[bcrypt] 
python-jose[cryptography] 
python-dotenv
fastapi
pydantic[email]
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
databases
python-dotenv
psycopg2-binary 
supabase
bcrypt==4.0.1
pandas==2.2.2
mlxtend==0.23.1
python-multipart==0.0.9
joblib
statsmodels
polars 
pyarrow
# Testing dependencies
requests
pytest
